canvas {
    border: 0px solid #d3d3d3;
    align-content: center;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#queryDiv {
    width:800px;
    margin:0 auto;
    text-align: center;
    visibility: hidden;
}

button:hover {
    background: #ba0c00;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    align-content: center;
}

body{
    max-width:80vw !important;
}

.top-controls {
    max-width: 45rem;

    /* Center the controls div horizontally */
    margin: 1.0rem auto;

    /* Center its contents horizontally too */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-controls > * {
    width: 100%;
}

/*
.control-buttons-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-buttons-wrap > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
*/

pre#pseudocode {
    counter-reset: linenumber;
    tab-size: 4;
    padding: 0;
    padding-left: 2.0em;
    border: none;
}

pre#pseudocode span {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #444444;
}

pre#pseudocode span::before {
    content: counter(linenumber);
    counter-increment: linenumber;

    display: inline-block;
    position: absolute;
    right: 100%;
    padding-right: 0.9em;
    color: #888888;
    text-align: right;
}

pre#pseudocode span.highlight {
    color: #ba0c00;
    background-color: #ffe6e6;
}
