canvas {
    border: 0px solid #d3d3d3;
    align-content: center;
}
table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#queryDiv {
    width:800px; 
    margin:0 auto;
    text-align: center;
    visibility: hidden;
}

button:hover {
    background: #ba0c00;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
align-content: center;
}

body{
    max-width:80vw !important;
}
